{{#if this.auth.user}}
  {{#if this.open}}
      <Input class="is-inline" @value={{this.newDeck}}></Input><button class="button is-inline" {{on "click" this.doAdd}}>+</button>
  {{else}}
      <button class="button" {{on "click" this.openUp}} >+</button>
  {{/if}}
{{/if}}